.container {
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
}
.menu {
    display: flex;
    flex-direction: column;
    width: 30rem;
    height: 30rem;
    justify-content: space-evenly;
}
.menu > button {
    border: none;
    background: white;
    padding: 2rem;
    border-radius: 1.5rem;
    font-weight: 600;
    font-size: 2rem;
}
.menu > button:hover {
    background: black;
    color: white;
}
.characteristic {
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
    margin: 0 auto;
}
.characteristic > div {
    padding: 1rem;

}